* {
    font-family: Helvetica, arial, sans-serif;
    font-weight: 100;
    color: white;
}

html { 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,20,70,1) 0%, rgba(15,100,161,1) 50%, rgba(0,200,230,1) 100%);
  }

body {
    margin: 0;
    text-align: center;
}

header{
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    height: 110px;
    margin: 0;
    padding: 20px 40px;
    overflow: hidden;
}

.container {
    height: 100%;
}

.content {
    box-sizing: border-box;
    margin: 3%;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(150,250,255,1);
}

h2 {
    font-size: 1em;
    margin: 10px;
    color: rgba(200,200,205,1);
}

img {
    max-width: 40%;
    border: 1rem rgba(15,100,161,1) solid;
    border-radius: 50%;
    margin: 3%;
}

#message {
    margin: 0;
}

p {
    font-size: 1.5rem;
}

p strong {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.65rem;
    padding: 3px;
}

p em {
    font-size: 2rem;
}

button {
    margin: 2%;
    outline: none;
    color: white;
    width: 15%;
    padding: 2%;
    border-style: outset;
    background-color:rgba(255, 0, 43, 0.9);
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: box-shadow 150ms ease-out;
}

button:hover {
    -webkit-box-shadow: 0px 0px 50px -23px rgb(255, 255, 255); 
    box-shadow: 0px 0px 50px -23px rgb(255, 255, 255);
}

button:active {
    border-style: inset;
}